torch==2.7.0
triton==3.3.0
accelerate==1.10.1
bitsandbytes==0.47.0
deepspeed==0.17.5
einops==0.8.1
transformers==4.56.0
datasets==3.6.0
tokenizers==0.22.0
peft==0.17.0
trl==0.22.1
safetensors==0.5.3
evaluate==0.4.5
lm_eval==0.4.9.1
nltk==3.9.1
rouge_score==0.1.2
sacrebleu==2.5.1
numpy==2.2.5
pandas==2.2.3
scikit-learn==1.7.1
scipy==1.15.3
matplotlib==3.10.5
seaborn==0.13.2
pillow==11.3.0
openai==1.78.1
python-dotenv==1.1.0
tqdm==4.67.1
PyYAML==6.0.2